<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
</head>
<body>
<h1> Welcome to DBC!! </h1>
<p>We are a coding bootcamp that will get you closer to your dream job!  We teach empathatic learning and this is what sets us apart from the rest.  Currently serving 6 cities and looking to continue our domination around the country.  Are you ready to start your developer carrer?  If so, contact us below:</p>
<form>
	<textarea name="comment" form="usrform">Enter comment or question here</textarea>
</form>
<p>We are currently in San Fransisco, New York, Chicago, Austin, San Diego, and Seattle.  Where else would you like us to "take over"?</p>
	<form action="/student" method="POST">
	<input type="text" name="future_loc" placeholder="City">
	<button type="submit">Submit</button>
</form>
</body>
</html>